{

　　"presets": ["@babel/preset-env"],

　　"plugins": [
    "@babel/plugin-transform-runtime", 
    "@babel/plugin-proposal-class-properties",
        ["component", 
            {
            "libraryName": "mint-ui",
            "style": true
            }
            
        ],
      // "@babel/plugin-transform-strict-mode"
    ],
    "ignore": [
        "./src/lib/mui/js/*.js"  // 建了lib文件夹，存放mui相关文件
        // https://segmentfault.com/a/1190000017558699?utm_source=tag-newest
        // https://www.cnblogs.com/sweetworld/p/11368569.html
    ]
}